<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Credit Card Fraud Detection</title>
    <h1 style="text-align:center">CUSTOMER PROFILE DASHBOARD</h1>
</head>

<body>
 
    <div id="select-id" style="margin-left: 550px;">Customer ID: </div>
    <div id="my_dataviz" style="float:left" width="800" height="800">
    </div>
    <div id="pie_chart" style="float:right; padding-top: 60px" >
    </div>
    

    <div id='vis-container' style="float:right"></div>
    <div class="center" style="float:right"></div>
</body>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="index.js"></script>

</html>